!.gitignore
.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

!application/*/.htaccess

application/uploads/*

composer.lock
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
.vscode/sftp.json
momo/application/config/database.php
momo/application/logs/
coco/application/logs/
.favorites.json

## cache files
coco/application/cache/*
momo/application/cache/*
coco/application/config/database.php
momo/application/cache/*
momo/application/cache/board_meta/board-meta-model-get-1
momo/application/cache/check_hook_member_dormant_auto_email
momo/application/cache/check_hook_member_dormant_auto_email
momo/application/cache/config-model-get
momo/application/cache/pagemenu-desktop
momo/application/cache/check_hook_member_dormant_auto_email
momo/application/cache/board/board-model-get-2
momo/application/cache/board/board-model-get-3
momo/application/cache/board/board-model-get-4
momo/application/cache/board/board-model-get-5
momo/application/cache/board/board-model-get-6
momo/application/cache/board/board-model-get-7
momo/application/cache/board/board-model-get-8
momo/application/cache/board/board-model-get-9
momo/application/cache/board_meta/board-meta-model-get-1
momo/application/cache/board_meta/board-meta-model-get-2
momo/application/cache/board_meta/board-meta-model-get-3
momo/application/cache/board_meta/board-meta-model-get-4
momo/application/cache/board_meta/board-meta-model-get-5
momo/application/cache/board_meta/board-meta-model-get-6
momo/application/cache/board_meta/board-meta-model-get-7
momo/application/cache/board_meta/board-meta-model-get-8
momo/application/cache/board_meta/board-meta-model-get-9
momo/application/cache/board_meta/board-meta-model-get-2
momo/application/cache/check_hook_member_dormant_auto_clean
momo/application/cache/check_hook_member_dormant_auto_email
momo/application/cache/config-model-get
momo/application/cache/pagemenu-desktop
momo/application/cache/board/board-model-get-1
momo/application/cache/board/board-model-get-2
momo/application/cache/board/board-model-get-3
momo/application/cache/board/board-model-get-4
momo/application/cache/board/board-model-get-5
momo/application/cache/board/board-model-get-6
momo/application/cache/board/board-model-get-7
momo/application/cache/board/board-model-get-8
momo/application/cache/board/board-model-get-9
momo/application/cache/board_meta/board-meta-model-get-1
momo/application/cache/board_meta/board-meta-model-get-2
momo/application/cache/board_meta/board-meta-model-get-3
momo/application/cache/board_meta/board-meta-model-get-4
momo/application/cache/board_meta/board-meta-model-get-5
momo/application/cache/board_meta/board-meta-model-get-6
momo/application/cache/board_meta/board-meta-model-get-7
momo/application/cache/board_meta/board-meta-model-get-8
momo/application/cache/board_meta/board-meta-model-get-9
coco/views/pages/bootstrap/music.php
.gitignore
