@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');


/* 사운드북 상세 페이지 */
.wrapper-custom-soundbook {
  padding-top: 40vh;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 50vh;
}


.container_music {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  padding: 16px 0 0 0;
  margin: 15px auto;
  display: inline-block;
  position: relative;
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

audio {
  display: none;
}

.player-section {
  width: 100%;
  display: flex;
  z-index: 999;
  position: absolute;
  top: 0px;
  justify-content: space-between;
}

.padding {
  text-align: center;

}
/* 사운드북 상세 페이지 끝*/

.main-footer .footer-bottom .right-content .footer-logo:before {
    background: none !important;
}
.feature-section .image-column {
    background-size: contain !important;
}
.carousel-item img{
    border: 15px solid #fff;
    border-radius: 30px;
    width:350px;
    height:350px;
}
.carousel-item.active, .carousel-item-next, .carousel-item-prev{
    display: flex;
    justify-content: center;
}

.page-title:before {
    position: absolute;
    content: '';
    background-color: transparent !important;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}



.our-teachers.teachers-page-section .block-column:nth-child(3) .teachers-block-two .inner-box .image-holder {
    border-color: #ff7162 !important;
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(3) .teachers-block-two .inner-box .lower-content {
    background: url(../images/icons/teacher-icon-3.png);
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(3) .teachers-block-two .inner-box:hover .lower-content {
    background: url(../images/icons/hover-3.png);
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(4) .teachers-block-two .inner-box .image-holder {
    border-color: #b350ff !important;;
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(4) .teachers-block-two .inner-box .lower-content {
    background: url(../images/icons/teacher-icon-5.png);
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(4) .teachers-block-two .inner-box:hover .lower-content {
    background: url(../images/icons/hover-5.png);
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(5) .teachers-block-two .inner-box .image-holder {
    border-color: #f8457c !important;;
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(5) .teachers-block-two .inner-box .lower-content {
    background: url(../images/icons/teacher-icon-6.png);
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(5) .teachers-block-two .inner-box:hover .lower-content {
    background: url(../images/icons/hover-6.png);
  }
  
  .our-teachers.teachers-page-section .block-column:last-child .teachers-block-two .inner-box .image-holder {
    border-color: #8bd451 !important;;
  }


  /* 메인 효정지도 글씨 작게 */
  .custom-title h1, .custom-title h6 {
      display: inline  !important;
    }

  .custom-title h3, .custom-title p {
    display: inline !important;
  }

  .custom-paragraph,.custom-paragraph p {
    display: inline  !important;
  }

  /* 메인 사진 캐러셀 부분 */
    .main-slider.style-two .slide {
      padding: 465px 0px 275px 0px;
    }

    
  .cd-title-margin{
    margin-top: 27px;
  }

/* 메인부분 cd 부분 */
  .service-block-one-custom{
    position: relative;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    transition: all 500ms ease;
  }

  /* 글자 크기 변경 */
  .font-size-custom-1_8em {
    font-size : 1.8em
  }
  .font-size-custom-1_5em {
    font-size : 1.5em
  }
  .font-size-custom-1_4em {
    font-size : 1.4em
  }
  .font-size-custom-1em {
    font-size : 1em
  }
  .font-size-custom-1_2em {
    font-size : 1.2em
  }
  .font-size-custom-0_9em {
    font-size : 0.9em
  }

  /* CD - 제목 들어가는 부분 */

  .our-teachers .block-column:nth-child(1) .teachers-block-two .inner-box .lower-content{
    background: url(../images/icons/teacher-icon-4.png);
}

  .our-teachers .block-column:nth-child(2) .teachers-block-two .inner-box .lower-content{
      background: url(../images/icons/teacher-icon-8.png);
  }
  
  .our-teachers  .block-column:nth-child(3) .teachers-block-two .inner-box .lower-content{
      background: url(../images/icons/teacher-icon-9.png);
  }
  
  .our-teachers  .block-column:nth-child(4) .teachers-block-two .inner-box .lower-content{
      background: url(../images/icons/teacher-icon-10.png);
  }
  
  .our-teachers .block-column:nth-child(5)  .teachers-block-two .inner-box .lower-content{
    background: url(../images/icons/teacher-icon-11.png);
  }

  .our-teachers  .block-column:nth-child(6) .teachers-block-two .inner-box .lower-content{
    background: url(../images/icons/teacher-icon-12.png);
  }

  .our-teachers .block-column:nth-child(7) .teachers-block-two .inner-box .lower-content{
    background: url(../images/icons/teacher-icon-4.png);
}

  .our-teachers .block-column:nth-child(8) .teachers-block-two .inner-box .lower-content{
      background: url(../images/icons/teacher-icon-8.png);
  }
  
  .our-teachers  .block-column:nth-child(9) .teachers-block-two .inner-box .lower-content{
      background: url(../images/icons/teacher-icon-9.png);
  }
  
  .our-teachers  .block-column:nth-child(10) .teachers-block-two .inner-box .lower-content{
      background: url(../images/icons/teacher-icon-10.png);
  }
  
  .our-teachers .block-column:nth-child(11)  .teachers-block-two .inner-box .lower-content{
    background: url(../images/icons/teacher-icon-11.png);
  }

  .our-teachers  .block-column:nth-child(12) .teachers-block-two .inner-box .lower-content{
    background: url(../images/icons/teacher-icon-12.png);
  }

  /* 메인 - 로고 비디오  */

  .video_nobg {
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}


/* 메인 - 효정지도 */

.feature-section {
  position: relative;
  display: block;
  background: #f0eee7;
  padding: 85px 0px;
}

/* CD - 재생 버튼 마우스 커서 */
.play_button{
  cursor: pointer;
  color:white;
}

.cursor{
  cursor: pointer;
}

.clicked {
  color : #2B3C6B;
}


/* 메인 타이틀 */

.sec-title h3{
  position: relative;
  /* display: block; */
  font-size: 30px;
  line-height: 40px;
  font-weight: 900;
  color: #2b3c6b;
  margin-bottom: 10px;
}

.sec-title h6 {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 23px;
  color: #ff7162;
  font-family: 'Jua', sans-serif;
  font-weight: 900;
  margin-bottom: 13px;
  padding: 0px 50px 0px 50px;
}

/* 사운드북 재생 버튼 위치 */
.soundbook_bgimg{
  min-width: 100%;
  /* height:100% */
}

.button_position{
  width: 100%;
  display: flex;
  z-index: 999;
  position: absolute; 
  top:0px; 
  justify-content:space-between;
}
.play_button_size {
  width : 2em !important;
}
.pause_button_size {
  width : 2em !important;
}

/* 동화책 - PC 제목부분,
메인 부분에서 생애동화 부분 타이틀도 적용 */
.books_title{
  display: block ;
}

.books_title_mobile{
  display: none;
}

/* 메인 캐러셀 슬라이드 모바일 */
.main-slider-pc{
  display: block;
}

.main-slider-mobile{
  display: none; 
}


/* CD */

.teachers-block-two .inner-box .lower-content .social-list {
  position: relative;
  opacity: 1 !important;
  transform: translateY(10px);
  transition: all 900ms ease;
}

@media only screen and (max-width: 1200px){

  .button_position{
    display: flex;
    z-index: 999;
    line-height: 1.5em;
    position: absolute; 
    top:0px; 
    justify-content:space-between;
  }
    
  /* 메인 - 효정지도 부분 보이게 */
  .feature-section .image-column{
    display: block;
  }

  .hyojeong-video_mobile{
    display: none;
  }
}

@media only screen and (max-width: 480px){

  .wrapper-custom-soundbook {
    padding-top:0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 50vh;
  }

  .button_position{
    display: flex;
    z-index: 999;
    position: absolute; 
    top:0px; 
    justify-content:space-between;
  } 

  /* 동화책 - PC 제목부분,
  메인 부분에서 생애동화 부분 타이틀도 적용 */
  .books_title{
    display: none;
  }
  /* 동화책 - 모바일 - 제목 부분  */
  .books_title_mobile{
    display: block;
  }

  /* 메인 - 효정지도 숨김, 모바일용 오픈 */
  .hyojeong-video_mobile{
    display: block;
    padding-bottom: 50px;
  }

  .hyojeong-video{
    display:none;
  }
  
  /* 메인 및 각 페이지 - 캐러셀 슬라이드 모바일 */
  .main-slider-pc{
    display: none !important;    
  }

  .main-slider-mobile{
    display: block; 
  }

  /* 오디오북 상세페이지*/
  .player-section {
    width: 100%;
    display: flex;
  }

  .wrapper {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      max-width: 1920px;
      margin: 0 auto;
      min-height: 50vh;
  } 

}


.hyojeong-video_mobile{
  display: none;
}

@media only screen and (max-width: 990px){
  .main-custom-img{
    text-align: center !important;
  }
}
/* 레이아웃 - 상단바  */
.sticky-header .main-menu .navigation > li {
  margin: 34px 30px 30px 20px!important;
}

/* 동화책 - 연령 & 페이지 있는 li 부분  */

.classes-section .inner-block .lower-content .info-box-custom{
  position: relative;
  display: block;
  background: url(../images/icons/icon-4.png);
  width: 100%;
  padding: 25px 15px 25px 15px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.classes-section .inner-block .lower-content .info-box-custom li{
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-family: 'Jua', sans-serif;
  color: #fff;
  margin: 0px 10px;
  text-transform: uppercase;
}
/* 
.classes-section .inner-block .lower-content .info-box-custom li:before{
  position: absolute;
  content: '';
  border: 1px dashed #59688e;
  width: 1px;
  height: 20px;
  top: 4px;
  right: -12px;
} */

.classes-section .inner-block .lower-content .info-box-custom li:last-child:before{
  display: none;
}

.classes-section .inner-block .lower-content .info-box-custom li span{
  color: #ff7162;
  text-transform: capitalize;
}

/* CD - 가사 글자 크기 및 폰트 변경 */
.lyric-style{
  color:white; font-size:20px !important; 
  font-family: Nanum Gothic !important;
}


/* CD - 아이콘 */

.anim-icon {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.anim-icon .icon{
  position: absolute;
  background-repeat: no-repeat;
}

.our-teachers .anim-icon .icon-custom-1 {
  background: url(../images/icons/anim-icon-100.png);
  width: 45px;
  height: 100px;
  left: 400px;
  top: 60px;
  background-repeat: no-repeat;
  background-size: contain;
}

.our-teachers .anim-icon .icon-custom-2 {
  background: url(../images/icons/anim-icon-101.png);
  width: 45px;
  height: 100px;
  left: 550px;
  top: 130px;
  background-repeat: no-repeat;
  background-size: contain;
}

.our-teachers .anim-icon .icon-custom-3 {
  background: url(../images/icons/anim-icon-101.png);
  width: 45px;
  height: 100px;
  right: 450px;
  top: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.our-teachers .anim-icon .icon-custom-4{
  background: url(../images/icons/anim-icon-100.png);
  width: 45px;
  height: 100px;
  right: 300px;
  top: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}
.our-teachers .anim-icon .icon-custom-5{
  background: url(../images/icons/anim-icon-13.png);
  width: 265px;
  height: 400px;
  left: 70px;
  bottom: -70px;
  background-repeat: no-repeat;
  z-index: 1;
}


/* 동화책 - 움직이는 요소 */
.classes-section .anim-icon .icon-custom-1 {
  background: url(../images/icons/anim-icon-6.png);
  width: 270px;
  height: 200px;
  left:220px;
  bottom: 660px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -999;
}

.classes-section .anim-icon .icon-custom-2 {
  background: url(../images/icons/anim-icon-12.png);
  width: 270px;
  height: 200px;
  right:140px;
  top: 170px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -999;
}

/* 사운드북 - 움직이는 요소 */

.our-teachers .anim-icon .icon-custom-6{
  background: url(../images/icons/anim-icon-9.png);
  width: 158px;
  height: 115px;
  top: 30px;
  left: 180px;
  background-repeat: no-repeat;
  z-index: -1;
}

.our-teachers .anim-icon .icon-custom-7 {
  background: url(../images/icons/anim-icon-10.png);
  width: 149px;
  height: 106px;
  top: 220px;
  right: 260px;
  background-repeat: no-repeat;
  z-index: -1;
}

.our-teachers .anim-icon .icon-custom-8 {
  background: url(../images/icons/anim-icon-5.png);
  width: 119px;
  height: 127px;
  top: 120px;
  left: 700px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 5s infinite linear;
  animation: zoom-fade 5s infinite linear;
  z-index: -1;
}

/* 메인 - 생애동화 - 움직이는 요소 */
.news-section .anim-icon .icon-3{
  background: url(../images/icons/anim-icon-7.png);
  width: 161px;
  height: 261px;
  right: 100px;
  bottom: 120px;
  background-repeat: no-repeat;
}
