.main-footer .footer-bottom .right-content .footer-logo:before {
    background: none !important;
}
.feature-section .image-column {
    background-size: contain !important;
}
.carousel-item img{
    border: 15px solid #fff;
    border-radius: 30px;
    width:350px;
    height:350px;
}
.carousel-item.active, .carousel-item-next, .carousel-item-prev{
    display: flex;
    justify-content: center;
}

.page-title:before {
    position: absolute;
    content: '';
    background-color: transparent !important;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}



.our-teachers.teachers-page-section .block-column:nth-child(3) .teachers-block-two .inner-box .image-holder {
    border-color: #ff7162 !important;
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(3) .teachers-block-two .inner-box .lower-content {
    background: url(../images/icons/teacher-icon-3.png);
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(3) .teachers-block-two .inner-box:hover .lower-content {
    background: url(../images/icons/hover-3.png);
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(4) .teachers-block-two .inner-box .image-holder {
    border-color: #b350ff !important;;
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(4) .teachers-block-two .inner-box .lower-content {
    background: url(../images/icons/teacher-icon-5.png);
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(4) .teachers-block-two .inner-box:hover .lower-content {
    background: url(../images/icons/hover-5.png);
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(5) .teachers-block-two .inner-box .image-holder {
    border-color: #f8457c !important;;
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(5) .teachers-block-two .inner-box .lower-content {
    background: url(../images/icons/teacher-icon-6.png);
  }
  
  .our-teachers.teachers-page-section .block-column:nth-child(5) .teachers-block-two .inner-box:hover .lower-content {
    background: url(../images/icons/hover-6.png);
  }
  
  .our-teachers.teachers-page-section .block-column:last-child .teachers-block-two .inner-box .image-holder {
    border-color: #8bd451 !important;;
  }


  /* 메인 효정지도 글씨 작게 */
  .custom-title h1, .custom-title h6 {
      display: inline;
    }

  .custom-title h3, .custom-title p {
    display: inline;
  }

  .custom-paragraph,.custom-paragraph p {
    display: inline;
  }

  /* 메인 사진 캐러셀 부분 */
    .main-slider.style-two .slide {
      padding: 465px 0px 275px 0px;
    }

    
  .cd-title-margin{
    margin-top: 27px;
  }

/* 메인부분 cd 부분 */
  .service-block-one-custom{
    position: relative;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    transition: all 500ms ease;
  }

  /* 글자 크기 변경 */
  .font-size-custom-1_8em {
    font-size : 1.8em
  }
  .font-size-custom-1_5em {
    font-size : 1.5em
  }
  .font-size-custom-1_4em {
    font-size : 1.4em
  }
  .font-size-custom-1em {
    font-size : 1em
  }
  .font-size-custom-0_9em {
    font-size : 0.9em
  }

  /* CD - 제목 들어가는 부분 */

  .our-teachers .block-column:nth-child(1) .teachers-block-two .inner-box .lower-content{
    background: url(../images/icons/teacher-icon-4.png);
}

  .our-teachers .block-column:nth-child(2) .teachers-block-two .inner-box .lower-content{
      background: url(../images/icons/teacher-icon-8.png);
  }
  
  .our-teachers  .block-column:nth-child(3) .teachers-block-two .inner-box .lower-content{
      background: url(../images/icons/teacher-icon-9.png);
  }
  
  .our-teachers  .block-column:nth-child(4) .teachers-block-two .inner-box .lower-content{
      background: url(../images/icons/teacher-icon-10.png);
  }
  
  .our-teachers .block-column:nth-child(5)  .teachers-block-two .inner-box .lower-content{
    background: url(../images/icons/teacher-icon-11.png);
  }

  .our-teachers  .block-column:nth-child(6) .teachers-block-two .inner-box .lower-content{
    background: url(../images/icons/teacher-icon-12.png);
  }

  .our-teachers .block-column:nth-child(7) .teachers-block-two .inner-box .lower-content{
    background: url(../images/icons/teacher-icon-4.png);
}

  .our-teachers .block-column:nth-child(8) .teachers-block-two .inner-box .lower-content{
      background: url(../images/icons/teacher-icon-8.png);
  }
  
  .our-teachers  .block-column:nth-child(9) .teachers-block-two .inner-box .lower-content{
      background: url(../images/icons/teacher-icon-9.png);
  }
  
  .our-teachers  .block-column:nth-child(10) .teachers-block-two .inner-box .lower-content{
      background: url(../images/icons/teacher-icon-10.png);
  }
  
  .our-teachers .block-column:nth-child(11)  .teachers-block-two .inner-box .lower-content{
    background: url(../images/icons/teacher-icon-11.png);
  }

  .our-teachers  .block-column:nth-child(12) .teachers-block-two .inner-box .lower-content{
    background: url(../images/icons/teacher-icon-12.png);
  }

  /* 메인 - 로고 비디오  */

  .video_nobg {
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}


/* 메인 - 효정지도 부분 보이게 */
@media only screen and (max-width: 1200px){
  .feature-section .image-column{
    display: block;
  }
}

/* 메인 - 효정지도 */

.feature-section {
  position: relative;
  display: block;
  background: #f0eee7;
  padding: 85px 0px;
}

/* CD - 재생 버튼 마우스 커서 */
.play_button{
  cursor: pointer;
}


/* 메인 타이틀 */

.sec-title h3{
  position: relative;
  /* display: block; */
  font-size: 30px;
  line-height: 40px;
  font-weight: 900;
  color: #2b3c6b;
  margin-bottom: 10px;
}

.sec-title h6 {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 23px;
  color: #ff7162;
  font-family: 'Jua', sans-serif;
  font-weight: 900;
  margin-bottom: 13px;
  padding: 0px 50px 0px 50px;
}

/* 사운드북 재생 버튼 위치 */
.soundbook_bgimg{
  width: 100%;
  height: 100%;
  position: absolute;
}

.button_position{
  width: 100%;
  display: flex;
  z-index: 999;
  position: absolute; 
  top:0px; 
  justify-content:space-between;
}
.play_button_size {
  width : 2em !important;
}
.pause_button_size {
  width : 2em !important;
}

/* CD */

.teachers-block-two .inner-box .lower-content .social-list {
  position: relative;
  opacity: 1 !important;
  transform: translateY(10px);
  transition: all 900ms ease;
}

@media only screen and (max-width: 1200px){

  .button_position{
    display: flex;
    z-index: 999;
    line-height: 1.5em;
    position: absolute; 
    top:0px; 
    justify-content:space-between;
  }
}

@media only screen and (max-width: 480px){

  .button_position{
    display: flex;
    z-index: 999;
    position: absolute; 
    top:0px; 
    justify-content:space-between;
  }  
}


/* 레이아웃 - 상단바  */
.sticky-header .main-menu .navigation > li {
  margin: 34px 30px 30px 20px!important;
}